
#hScreenshot-toolbar-button,
toolbar[iconsize="small"] #hScreenshot-toolbar-button {
  list-style-image: url("chrome://hatenascreenshot/skin/images/FotoIcon.png");
}
#hScreenshot-toolbar-button[loading="true"],
toolbar[iconsize="small"] #hScreenshot-toolbar-button[loading="true"] {
  list-style-image: url("chrome://hatenascreenshot/skin/images/comment_loading.png");
}

#hfotolife-toolbar-button > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  margin: 0px 6px !important;
}

#hfotolife-toolbar-button > .toolbarbutton-menubutton-button {
  padding: 0px !important;
}

