
.optiontitle {
    width: 80px;
}

/* menulist 内のポップアップに menuitem の画像がデフォルトでは表示されないので
 * 表示する
 * http://vividcode.hatenablog.com/entry/firefox-extension/menuitem-image-in-menulist
 */
menulist menupopup .menuitem-iconic .menu-iconic-left {
    display: -moz-box;
    visibility: visible;
}
